// Colors

$primary-color: #D5082D;
$secondary-color: #8A031B;
$accent-color: #008A19;
$border-dark: rgba($base-color, 0.88);

// Fonts

$primary-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
