// Colors

$primary-color: #FEF1EC;
$secondary-color: #94A7B3;
$accent-color: #94B39C;
$border-dark: rgba($primary-color, 0.88);

// Fonts

$primary-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
